/* Copyright 2008 Google, Inc. All rights reserved. */

body {
  padding:0;
  margin:0;
  font-family:"Trebuchet MS",Verdana,Arial,Sans-serif;
  font-size:100%;
  white-space:nowrap;
}

a {
  text-decoration:none;
}

#b-navbar {
  height:29px;
  border-bottom:1px solid #024;

  font-size:.85em;
  line-height:.85em;
}

#b-navbar #b-logo {
  position:absolute;
  top:.15em;
  left:5px;
}

#b-navbar #b-logo #navbar-logo {
  width:24px;
  height:24px;
}

/* Hide visually, leave in for screenreaders */
#b-navbar #b-logo span {
  display:block;
  position:absolute;
  left:-9000px;
}

#b-search {
  margin:0 0 0 34px;
  padding:4px 1em 3px .5em;
}

#b-search td {
  vertical-align:middle;
}

#b-query {
  margin:0 .5em 0 0;
}

.btn {
  border-top:1px solid;
  border-bottom:1px solid;
  margin:0 .5em 0 1px;
  padding:0;
  font-size:.80em;
  line-height:.85em;
  text-transform:uppercase;
  white-space:nowrap;
  cursor:pointer;
  cursor:hand;
}

.btn div {
  border-left:1px solid;
  border-right:1px solid;
  
  margin:0 -1px;
  padding:.21em .3em;
  
  height:.85em;
  
  position:relative;
}

.btn div img {
  /* can't leave it in the flow because IE will screw up the line-height */
  position:absolute;
  top:.2em;
  left:.3em;
}

#bt-flag-body, #bt-unflag-body {
  padding-left:1em; 
}

#bt-unflag-body {
  display:none;
}

.flagged #bt-flag-body {
  display:none;
}

.flagged #bt-unflag-body {
  display:block;
}

 /*
  drop down for the flag as objectionable button 
 */
#flagi,
#unflagi {
  display:none;
  top:3px;
  color:#000;
  background-color:#ff9;
  border:1px solid #333;
  z-index:300;
  padding:4px;
  font-size:.7em;
  line-height:.8em;
}

#flagi a,
#unflagi a {
  color:#3366cc;
  text-decoration:underline;
}
  
.b-mobile {
  display:none;
}

#b-sms {
  margin:0 0 0 100px;
  padding:4px 7px;
  line-height:1em;
  font-size:100%;
  text-align:left;
}

#b-sms a {
  margin-right:.5em;
  line-height:1em;
}

#b-sms a:hover {
  text-decoration:underline;
}

@media handheld {
  body .b-mobile {
    display:block;
  }

  body #b-search, 
  body #flagi,
  body #unflagi {
    display:none;
  }
  
  /* Some phones can't handle the positioning hack, so hide this */
  body #b-navbar #b-logo span {
    display:none;
  }
}